.m-list-logos {
  width: 100%;
  padding: 40px 0;
  background-color: var(--color-primary);

  .swiper-wrapper {
    padding: 0 48px;
  }

  .swiper-slide {
    width: auto !important;
  }

  img {
    width: auto;
    height: 32px;
    display: block;
    opacity: .5;
  }
}