.m-list-menu {
  
  ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  li:not(:last-child) {
    margin-right: 24px;
  }

  a {
    color: var(--color-primary);
    font-family: $font-heading;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s text-shadow ease, .2s color ease;

    &:hover {
      color: var(--color-primary-tint);
      text-shadow: $text-shadow;
    }

    &:active {
      color: var(--color-primary-shade);
      text-shadow: none;
    }
  }
}