.m-list-products {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100% - 80px);
    margin: 0 auto;

    &__title { 
      font-size: 56px;
      color: var(--color-primary);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      text-shadow: $text-shadow;
      margin: 0;
    }
    
    &__subtitle {
      text-transform: uppercase;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 700;
      border: 2px solid var(--color-primary);
      display: block;
      padding: 8px 56px;
      border-radius: 24px;
      color: var(--color-primary);
      margin: 0 auto 16px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        background-color: var(--color-secondary);
        opacity: .4;
        transform: translate(10px, 10px);
      }
    }
  }

  ul {
    margin: 0;
    padding: 0 40px 16px 40px;
    list-style: none;
  }

  li {
    max-width: 256px;
  }
}