<header class="l-header" role="banner">
  <div class="l-header-navbar">
    <nav class="l-header-nav">
      <div class="m-list-menu">
        <button class="m-button -menu">
          <i class="uil uil-bars"></i>
        </button>

        <ul>
          <li>
            <a href="/produtos/">
              Produtos
              <i class="uil uil-angle-down"></i>
            </a>
          </li>
          <li>
            <a href="/sobre/">Sobre</a>
          </li>
          <li>
            <a href="/contato/">Contato</a>
          </li>
        </ul>
      </div>

      <a href="/" class="l-header__logo">
        <img class="l-header__logo__image" src="/assets/img/logo.svg" alt="Chocolateria Ô, Meu Nego!" width="104" height="104" loading="lazy" class="l-header-logo__image">
    
        {% if page.url == '/' %}
        <h1 class="l-header__logo__title">Chocolateria Ô, Meu Nego!</h1>
        {% else %}
        <h2 class="l-header__logo__title">Chocolateria Ô, Meu Nego!</h2>
        {% endif %}
      </a>

      <div class="l-header-nav__actions">
        <div class="l-header-nav__cart">
          <a class="m-button -cart" href="/carrinho/">
            <i class="uil uil-shopping-bag"></i>
            <span>04</span>
          </a>

          {% include lists/cart.html %}
        </div>
      </div>
    </nav>
  </div>

  <div class="l-header-banner">
    <img src="/assets/img/static/beans-chocolate.svg" alt="" aria-hidden="true" class="l-header-banner__chocolate">
    <img src="/assets/img/static/peanut-kernels.svg" alt="" aria-hidden="true" class="l-header-banner__peanut">

    <h2 class="l-header-banner__title">
      <span>Cheios de</span>
      <strong>paixão</strong>
      <span>pelo chocolate</span>
    </h2>

    <a href="/produtos/" class="m-button -circle">
      <span>ver produtos</span>
    </a>
  </div>
</header>