.m-button.-cart {
  position: relative;
  display: block;
  margin-right: 12px;
  text-decoration: none;
  color: var(--color-light);
  font-family: $font-heading;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    font-size: 24px;
    transition: .2s border-radius ease;
  }

  span {
    position: absolute;
    top: -8px;
    right: -12px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background-color: var(--color-tertiary);
    color: var(--color-light);
    box-shadow: 0 0 0 2px var(--color-medium);
  }
}