.m-button.-circle {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-family: $font-heading;
  font-size: 20px;
  margin: 0 auto;
  background-color: var(--color-tertiary);
  color: var(--color-medium);
  text-decoration: none;
  transition: .4s transform ease, .4s box-shadow ease, .4s background-color ease;

  @media (min-width: 1024px) {
    width: 160px;
    height: 160px;
    font-size: 28px;
    line-height: 160px;
  }

  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: $text-shadow;
    background-color: var(--color-tertiary-tint);
  }

  &:active {
    transform: none;
    box-shadow: none;
    background-color: var(--color-tertiary-shade);
  }
}