.m-button.-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--color-light);
  background-color: var(--color-tertiary);
  
  &:hover {
    background-color: var(--color-tertiary-tint);
  }
  
  &:active {
    background-color: var(--color-tertiary-shade);
  }
}