<div class="m-list -cart">
  <ol>
    <li>
      <div class="m-card -cart">
        <a href="#" class="m-card -cart__image">
          <img src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202202241352_4324_i.jpg" width="80" height="80" loading="lazy" alt="">
          <span>2</span>
        </a>

        <div class="m-card -cart__infos">
          <a href="#">Copo da Felicidade de Ninho com Nutella</a>
          <span>R$ 32,00</span>
        </div>

        <span class="m-card -cart__total">R$ 64,00</span>
      </div>
    </li>
    <li>
      <div class="m-card -cart">
        <a href="#" class="m-card -cart__image">
          <img src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202202241352_4324_i.jpg" width="80" height="80" loading="lazy" alt="">
          <span>2</span>
        </a>

        <div class="m-card -cart__infos">
          <a href="#">Copo da Felicidade de Ninho com Nutella</a>
          <span>R$ 32,00</span>
        </div>

        <span class="m-card -cart__total">R$ 64,00</span>
      </div>
    </li>
  </ol>
</div>