<div class="m-list -highlights">
  <a href="#" class="m-card -highlights --tertiary">
    <!-- <img class="image" src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202104181406_QC2F_.jpeg" alt=""> -->
    
    <div class="content">
      <img src="/assets/img/static/logo-ifood.svg" alt="Ifood">
      <h4 class="content__title">Todo o nosso cardápio de produtos também está no Ifood</h4>
      <span class="m-button -outlined">Peça pelo Ifood</span>
    </div>
  </a>
</div>