<div class="m-list -highlights swiper" data-swiper="highlights">
  <div class="swiper-wrapper">
    <div class="m-list__item swiper-slide">
      <a href="#" class="m-card -highlights">
        <img class="image" src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202104181406_QC2F_.jpeg" width="328" height="400" loading="lazy" alt="">
      </a>
    </div>
    <div class="m-list__item swiper-slide">
      <a href="https://www.ifood.com.br/delivery/santo-andre-sp/chocolateria-o-meu-nego-cidade-sao-jorge/508bee51-fe75-4a7e-98a7-ed658464e6dc" target="_blank" rel="noopener noreferrer" class="m-card -highlights --tertiary">
        <div class="content">
          <img class="content__image" src="/assets/img/static/logo-ifood.svg" width="88" height="48" loading="lazy" alt="Ifood">
          <h3 class="content__title">Todo o nosso cardápio de produtos também está no Ifood</h3>
          <span class="m-button -outlined">Peça pelo Ifood</span>
        </div>
      </a>
    </div>
    <div class="m-list__item swiper-slide">
      <a href="#" class="m-card -highlights">
        <img class="image" src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202104181406_QC2F_.jpeg" width="328" height="400" loading="lazy" alt="">
      </a>
    </div>
    <div class="m-list__item swiper-slide">
      <a href="https://wa.me/5511933100000" target="_blank" rel="noreferrer noopener" class="m-card -highlights --secondary">
        <div class="content">
          <i class="content__image uil uil-whatsapp"></i>
          <h3 class="content__title">Economize até 20% pedindo diretamente pelo WhatsApp</h3>
          <span class="m-button -outlined">Peça pelo WhatsApp</span>
        </div>
      </a>
    </div>
    <div class="m-list__item swiper-slide">
      <a href="#" class="m-card -highlights">
        <img class="image" src="https://static-images.ifood.com.br/image/upload/t_medium/pratos/508bee51-fe75-4a7e-98a7-ed658464e6dc/202104181406_QC2F_.jpeg" width="328" height="400" loading="lazy" alt="">
      </a>
    </div>
  </div>
</div>