<div class="m-list -logos swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/logos/nutella.svg" width="104" height="32" loading="lazy" alt="Nutella">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/mms.svg" width="104" height="32" loading="lazy" alt="M&M's">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/ferrero-rocher.svg" width="104" height="32" loading="lazy" alt="Ferrero Rocher">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/nestle.svg" width="104" height="32" loading="lazy" alt="Nestlé">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/kitkat.svg" width="104" height="32" loading="lazy" alt="KitKat">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/sicao.svg" width="104" height="32" loading="lazy" alt="Sicao">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/lacta.svg" width="104" height="32" loading="lazy" alt="Lacta">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/callebaut.svg" width="104" height="32" loading="lazy" alt="Callebaut">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/oreo.svg" width="104" height="32" loading="lazy" alt="Oreo">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/logos/kinder.svg" width="104" height="32" loading="lazy" alt="Kinder">
    </div>
  </div>
</div>