<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <title>Chocolateria Ô, Meu Nego! | Cheios de Amor pelo Chocolate</title>
  <meta name="title" content="Chocolateria Ô, Meu Nego! | Cheios de Amor pelo Chocolate">
  <meta name="description" content="A melhor chocolateria artesanal do ABC Paulista. Chocolateria Ô, Meu Nego! Cheios de paixão pelo chocolate.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chocolateriaomeunego.com.br/">
  <meta property="og:title" content="Chocolateria Ô, Meu Nego! | Cheios de Amor pelo Chocolate">
  <meta property="og:description" content="A melhor chocolateria artesanal do ABC Paulista. Chocolateria Ô, Meu Nego! Cheios de paixão pelo chocolate.">
  <meta property="og:image" content="/assets/img/share.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://chocolateriaomeunego.com.br/">
  <meta property="twitter:title" content="Chocolateria Ô, Meu Nego! | Cheios de Amor pelo Chocolate">
  <meta property="twitter:description" content="A melhor chocolateria artesanal do ABC Paulista. Chocolateria Ô, Meu Nego! Cheios de paixão pelo chocolate.">
  <meta property="twitter:image" content="/assets/img/share.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=League+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#58371b">
  <meta name="msapplication-TileColor" content="#f5f4e0">
  <meta name="theme-color" content="#f5f4e0">
</head>
<body>
  {% include header.html %}
  <main class="l-main">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>